@charset "utf-8";
@import 'util.scss';


.ranklist-cont {
    @include middle;
    @include height;
    padding-top:20px;
    .cols-left {
        overflow: hidden;
        border: 1px solid #e7e7e7;
        color: #333333;
        ul {
            padding-bottom: 30px;
            width:200px!important;
            li {
                .tit {
                    font-size: 14px;
                    font-weight: 600;
                }
                ul {
                    li {
                        img {
                            width: 30px;
                            float: left;
                            margin-left: -20px;
                            margin-top: 7px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .cols-right {
       .ant-checkbox-wrapper {
           display: none;
       }
       tr {
           cursor: pointer;
       }
       tr:nth-child(2n+2) {
           background: #f7f7f7;
       } 
       .icons {
           color:#333;
           i {
               font-size: 14px;
               font-weight: 600;
           }
        }
    }
}
