@charset "utf-8";
@import 'util.scss';

.songlist-cont {
    @include middle;
    @include height;
    padding-top:20px;
    padding:25px;
    .ant-checkbox-wrapper {
          display: none;
    }
    tr:nth-child(2n+2) {
       background: #f7f7f7;
    } 
}
